<!DOCTYPE html>
<html lang="en">
<head>
  {{>header}}
</head>
<body>
    <nav class="navbar navbar-expand-lg  bg-dark">
  <a class="navbar-brand tc" href="https://studio3t.com/mongodb-compass-alternative/?keyword=mongocompass&utm_source=adwords&utm_medium=ppc&utm_term=mongocompass&utm_campaign=GS+%7C+Generic+%7C+US&hsa_net=adwords&hsa_ad=619444943426&hsa_src=g&hsa_ver=3&hsa_grp=140364593723&hsa_acc=1756351187&hsa_tgt=kwd-581840445077&hsa_mt=p&hsa_kw=mongocompass&hsa_cam=18222354917&gclid=CjwKCAiAjs2bBhACEiwALTBWZZYtO9oYEhT3epkHTv5gQnNCylwFXjdLUi2HwnxrgPOlwHqVy43rcRoC3EgQAvD_BwE">MERN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active tc" href="/register">Register <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link tc" href="/login">Login</a>
    </div>
  </div>
</nav>
</body>`
</html>