{{!-- Handlebars is a template engine that is widely used and easy to use. The pages contain .hbs extension --}}
{{!-- Handlebars provides the power necessary to let you build semantic templates effectively with no frustration. --}}
<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}
</head>
<body>
    {{>navbar}}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4 bg-info p-4">Mern Project</h1>
            <p class="lead">user registration using mern stack </p>
            <p>Technology used -mongodb,express,react,node,mongoose,hbs</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="https://studio3t.com/mongodb-compass-alternative/?keyword=mongocompass&utm_source=adwords&utm_medium=ppc&utm_term=mongocompass&utm_campaign=GS+%7C+Generic+%7C+US&hsa_net=adwords&hsa_ad=619444943426&hsa_src=g&hsa_ver=3&hsa_grp=140364593723&hsa_acc=1756351187&hsa_tgt=kwd-581840445077&hsa_mt=p&hsa_kw=mongocompass&hsa_cam=18222354917&gclid=CjwKCAiAjs2bBhACEiwALTBWZZYtO9oYEhT3epkHTv5gQnNCylwFXjdLUi2HwnxrgPOlwHqVy43rcRoC3EgQAvD_BwE" role="button">Mongo Db</a>
            </p>
        </div>
    </div>
</body>`
</html>